<!DOCTYPE html>
<html>
  <head>
    <title>Lista de usuários</title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1>Usuários</h1>
    <table border='1' style='border-collapse: collapse;'>
        <thead style='font-weight: bold'><td>Id</td><td>Name</td><td>Email</td></thead>
        <% users.forEach(function(user) { %>
            <tr><td><%= user.id %> </td><td> <%= user.name %> </td><td> <%= user.email %></td></tr>
        <% }); %>
    </table>
  </body>
</html>
